#order-importer {
    background: $primary-bg-color;
    color: $primary-color;
    padding: 40px 80px;

    .import-area {
        width: 100%;
        height: 200px;
        margin: 10px 0;
    }

    .import-error {
        color: $secondary-color;
    }
}
